name: Netflix CI Debug

on:
  push:
    branches: [ "main" ]

jobs:
  debug:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Show Folder Structure
        run: ls -R
